<a href="https://colab.research.google.com/github/sandhya537/pandas/blob/main/pandas_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##-----------creating dataframe---------------------------------------------------

import pandas as pd
d1={
    "id":[1,2,3,4,5,6],
    "name":['pavan','venu','madhu','neeru','shafi','veeru'],
    "subject":['english','java','html','python','c','dotnet'],
}
d2={
    "id":[11,12,13,14,15,16],
    "name":['srinu','suma','neelu','dhoni','arjun','veeru'],
    "subject":['java','html','cpp','python','c','dotnet'],
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
print(df1)
print()
print(df2)

   id   name  subject
0   1  pavan  english
1   2   venu     java
2   3  madhu     html
3   4  neeru   python
4   5  shafi        c
5   6  veeru   dotnet

   id   name subject
0  11  srinu    java
1  12   suma    html
2  13  neelu     cpp
3  14  dhoni  python
4  15  arjun       c
5  16  veeru  dotnet

In [3]:
##-----------------------inner merging-----------------------------------------------

import pandas as pd
d1={
    "id":[1,2,3,4,5,6],
    "name":['pavan','venu','madhu','neeru','shafi','veeru'],
    "subject":['english','java','html','python','c','dotnet'],
}
d2={
    "id":[11,12,13,14,15,16],
    "name":['srinu','suma','neelu','dhoni','arjun','veeru'],
    "subject":['java','html','cpp','python','c','dotnet'],
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
inn=pd.merge(df1,df2,on="subject",how="inner")
print(df1)
print()
print(df2)
print()
print(inn)

   id   name  subject
0   1  pavan  english
1   2   venu     java
2   3  madhu     html
3   4  neeru   python
4   5  shafi        c
5   6  veeru   dotnet

   id   name subject
0  11  srinu    java
1  12   suma    html
2  13  neelu     cpp
3  14  dhoni  python
4  15  arjun       c
5  16  veeru  dotnet

   id_x name_x subject  id_y name_y
0     2   venu    java    11  srinu
1     3  madhu    html    12   suma
2     4  neeru  python    14  dhoni
3     5  shafi       c    15  arjun
4     6  veeru  dotnet    16  veeru

In [4]:
##----------------------------left merging------------------------------------------

import pandas as pd
d1={
    "id":[1,2,3,4,5,6],
    "name":['pavan','venu','madhu','neeru','shafi','veeru'],
    "subject":['english','java','html','python','c','dotnet'],
}
d2={
    "id":[11,12,13,14,15,16],
    "name":['srinu','suma','neelu','dhoni','arjun','veeru'],
    "subject":['java','html','cpp','python','c','dotnet'],
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
left=pd.merge(df1,df2,on="subject",how="left")
print(df1)
print()
print(df2)
print()
print(left)

   id   name  subject
0   1  pavan  english
1   2   venu     java
2   3  madhu     html
3   4  neeru   python
4   5  shafi        c
5   6  veeru   dotnet

   id   name subject
0  11  srinu    java
1  12   suma    html
2  13  neelu     cpp
3  14  dhoni  python
4  15  arjun       c
5  16  veeru  dotnet

   id_x name_x  subject  id_y name_y
0     1  pavan  english   NaN    NaN
1     2   venu     java  11.0  srinu
2     3  madhu     html  12.0   suma
3     4  neeru   python  14.0  dhoni
4     5  shafi        c  15.0  arjun
5     6  veeru   dotnet  16.0  veeru

In [5]:
##------------------ right merging-------------------------------------------------

import pandas as pd
d1={
    "id":[1,2,3,4,5,6],
    "name":['pavan','venu','madhu','neeru','shafi','veeru'],
    "subject":['english','java','html','python','c','dotnet'],
}
d2={
    "id":[11,12,13,14,15,16],
    "name":['srinu','suma','neelu','dhoni','arjun','veeru'],
    "subject":['java','html','cpp','python','c','dotnet'],
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
right=pd.merge(df1,df2,on="subject",how="right")
print(df1)
print()
print(df2)
print()
print(right)

   id   name  subject
0   1  pavan  english
1   2   venu     java
2   3  madhu     html
3   4  neeru   python
4   5  shafi        c
5   6  veeru   dotnet

   id   name subject
0  11  srinu    java
1  12   suma    html
2  13  neelu     cpp
3  14  dhoni  python
4  15  arjun       c
5  16  veeru  dotnet

   id_x name_x subject  id_y name_y
0   2.0   venu    java    11  srinu
1   3.0  madhu    html    12   suma
2   NaN    NaN     cpp    13  neelu
3   4.0  neeru  python    14  dhoni
4   5.0  shafi       c    15  arjun
5   6.0  veeru  dotnet    16  veeru

In [6]:
##------------------outer merging------------------------------------------------

import pandas as pd
d1={
    "id":[1,2,3,4,5,6],
    "name":['pavan','venu','madhu','neeru','shafi','veeru'],
    "subject":['english','java','html','python','c','dotnet'],
}
d2={
    "id":[11,12,13,14,15,16],
    "name":['srinu','suma','neelu','dhoni','arjun','veeru'],
    "subject":['java','html','cpp','python','c','dotnet'],
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
outer=pd.merge(df1,df2,on="subject",how="outer")
print(df1)
print()
print(df2)
print()
print(outer)

   id   name  subject
0   1  pavan  english
1   2   venu     java
2   3  madhu     html
3   4  neeru   python
4   5  shafi        c
5   6  veeru   dotnet

   id   name subject
0  11  srinu    java
1  12   suma    html
2  13  neelu     cpp
3  14  dhoni  python
4  15  arjun       c
5  16  veeru  dotnet

   id_x name_x  subject  id_y name_y
0   5.0  shafi        c  15.0  arjun
1   NaN    NaN      cpp  13.0  neelu
2   6.0  veeru   dotnet  16.0  veeru
3   1.0  pavan  english   NaN    NaN
4   3.0  madhu     html  12.0   suma
5   2.0   venu     java  11.0  srinu
6   4.0  neeru   python  14.0  dhoni

In [7]:
##-----------example 1-------------------------

import pandas as pd
d1={
    "id":[1,2,3,4,5,6],
    "name":['pavan','venu','madhu','neeru','shafi','veeru'],
    "subject":['english','java','html','python','c','dotnet'],
}
d2={
    "id":[11,12,13,14,15,16],
    "name":['srinu','suma','neelu','dhoni','arjun','veeru'],
    "subject":['java','html','cpp','python','c','dotnet'],
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
res=pd.merge(df1,df2,on="subject")
print(df1)
print()
print(df2)
print()
print(res)

   id   name  subject
0   1  pavan  english
1   2   venu     java
2   3  madhu     html
3   4  neeru   python
4   5  shafi        c
5   6  veeru   dotnet

   id   name subject
0  11  srinu    java
1  12   suma    html
2  13  neelu     cpp
3  14  dhoni  python
4  15  arjun       c
5  16  veeru  dotnet

   id_x name_x subject  id_y name_y
0     2   venu    java    11  srinu
1     3  madhu    html    12   suma
2     4  neeru  python    14  dhoni
3     5  shafi       c    15  arjun
4     6  veeru  dotnet    16  veeru

In [8]:
##-------------------------example 2---------------------------------

import pandas as pd
d1={
    "id":[1,2,3,4,5,6],
    "name":['pavan','venu','madhu','neeru','shafi','veeru'],
    "subject":['english','java','html','python','c','dotnet'],
}
d2={
    "id":[11,12,13,14,15,16],
    "name":['srinu','suma','neelu','dhoni','arjun','veeru'],
    "subject":['java','html','cpp','python','c','dotnet'],
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
right=pd.merge(df1,df2,on=["name","subject"])
print(df1)
print()
print(df2)
print()
print(right)

   id   name  subject
0   1  pavan  english
1   2   venu     java
2   3  madhu     html
3   4  neeru   python
4   5  shafi        c
5   6  veeru   dotnet

   id   name subject
0  11  srinu    java
1  12   suma    html
2  13  neelu     cpp
3  14  dhoni  python
4  15  arjun       c
5  16  veeru  dotnet

   id_x   name subject  id_y
0     6  veeru  dotnet    16

In [9]:
##--------------------creating dataframe------------------------

import pandas as pd
d1={
    "employee":["nireekshan","veeru","lavanya","pradhan"],
    "group":["devlopment","testing","testing","hr"]
}
d2={
    "employee":["nireekshan","veeru","lava","pradhan"],
    "hire_date":[2010,2012,2014,2016]
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
print(df1)
print(df2)

     employee       group
0  nireekshan  devlopment
1       veeru     testing
2     lavanya     testing
3     pradhan          hr
     employee  hire_date
0  nireekshan       2010
1       veeru       2012
2        lava       2014
3     pradhan       2016

In [11]:
##-------------one_one merging---------------------------------------

import pandas as pd
d1={
    "employee":["nireekshan","veeru","lavanya","pradhan"],
    "group":["devlopment","testing","testing","hr"]
}
d2={
    "employee":["nireekshan","veeru","lava","pradhan"],
    "hire_date":[2010,2012,2014,2016]
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
one_one=pd.merge(df1,df2)
print(df1)
print(df2)
print()
print(one_one)

     employee       group
0  nireekshan  devlopment
1       veeru     testing
2     lavanya     testing
3     pradhan          hr
     employee  hire_date
0  nireekshan       2010
1       veeru       2012
2        lava       2014
3     pradhan       2016

     employee       group  hire_date
0  nireekshan  devlopment       2010
1       veeru     testing       2012
2     pradhan          hr       2016

In [14]:
##---------------many_one------------------------------------------------------------

import pandas as pd
d1={
    "employee":["nireekshan","veeru","lavanya","pradhan"],
    "group":["devlopment","testing","testing","hr"]
}
d2={
    "employee":["nireekshan","veeru","lava","pradhan"],
    "hire_date":[2010,2012,2014,2016]
}
d3={
    "group":["testing","development","hr"],
    "supervisor":["shafi","dhoni","neelima"]
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
df3=pd.DataFrame(d3)
one_one=pd.merge(df1,df2)
many_one=pd.merge(one_one,df3)
print(df1)
print(df2)
print()
print(one_one)
print()
print(many_one)

     employee       group
0  nireekshan  devlopment
1       veeru     testing
2     lavanya     testing
3     pradhan          hr
     employee  hire_date
0  nireekshan       2010
1       veeru       2012
2        lava       2014
3     pradhan       2016

     employee       group  hire_date
0  nireekshan  devlopment       2010
1       veeru     testing       2012
2     pradhan          hr       2016

  employee    group  hire_date supervisor
0    veeru  testing       2012      shafi
1  pradhan       hr       2016    neelima

In [15]:
##------------------------many_many---------------------------------------------------------------

import pandas as pd
d1={
    "employee":["nireeskshan","veeru","lavanya","pradhan"],
    "group":["devlopment","testing","testing","hr"]
}
d2={
    "group":["testing","testing","devlopment","devlopment","hr","hr"],
    "skills":["manual","automation","coding","logical","spreadsheet","organization"]
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
many_many=pd.merge(df1,df2)
print(df1)
print()
print(df2)
print()
print(many_many)

      employee       group
0  nireeskshan  devlopment
1        veeru     testing
2      lavanya     testing
3      pradhan          hr

        group        skills
0     testing        manual
1     testing    automation
2  devlopment        coding
3  devlopment       logical
4          hr   spreadsheet
5          hr  organization

      employee       group        skills
0  nireeskshan  devlopment        coding
1  nireeskshan  devlopment       logical
2        veeru     testing        manual
3        veeru     testing    automation
4      lavanya     testing        manual
5      lavanya     testing    automation
6      pradhan          hr   spreadsheet
7      pradhan          hr  organization