<a href="https://colab.research.google.com/github/sandhya537/pandas/blob/main/pandas_practices_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##-------------- handling missing or NaN values ------------------------
                   # ------- PANDAS  --------#

In [34]:
from google.colab import files
uploaded=files.upload()

Saving synthetic_dataset.csv to synthetic_dataset.csv

In [35]:
import pandas as pd
df=pd.read_csv("/content/synthetic_dataset.csv")
print(df)

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0       NaN      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0       NaN  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In [36]:
##----------using isna() and isnull() -----------------------------------------

import pandas as pd
df=pd.read_csv("/content/synthetic_dataset.csv")
df1=df.isna()
print("output is:")
print(df.head())
print()
print("after using isna() :")
print(df1.head())
print()
print("after using isnull() :")
print(df1.head())

output is:
  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

after using isna() :
   Category  Price  Rating  Stock  Discount
0      True  False   False   True     False
1      True  False   False   True     False
2      True  False    True  False     False
3      True  False   False   True     False
4      True  False    True  False     False

after using isnull() :
   Category  Price  Rating  Stock  Discount
0      True  False   False   True     False
1      True  False   False   True     False
2      True  False    True  False     False
3      True  False   False   True     False
4      True  False    True  False     False

In [37]:
##------------------using notnull() -------------------------------------------

import pandas as pd
df=pd.read_csv("/content/synthetic_dataset.csv")
df1=df.notnull()
print("output is:")
print(df.head())
print()
print("after using notnull() :")
print(df1.head())

output is:
  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

after using notnull() :
   Category  Price  Rating  Stock  Discount
0     False   True    True  False      True
1     False   True    True  False      True
2     False   True   False   True      True
3     False   True    True  False      True
4     False   True   False   True      True

In [40]:
##------------------------isna().sum()--------------------------------

import pandas as pd
df=pd.read_csv("/content/synthetic_dataset.csv")
df1=df.isna().sum()
per=(df1*100)/len(df)
print("output is:")
print(df.head())
print()
print("after using isna().sum() :")
print(df1.head())
print()
print(" percentage :")
print(per)

output is:
  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

after using isna().sum() :
Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

 percentage :
Category    62.998624
Price        3.988996
Rating      46.996790
Stock       30.994956
Discount     8.986703
dtype: float64

In [48]:
##---------------------using dropna()------------------------------------------

import pandas as pd
df=pd.read_csv("/content/synthetic_dataset.csv")
df1=df.dropna()
print("output is:")
print(df.head())
print()
print("after using dropna() :")
print(df1.head())

output is:
  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

after using dropna() :
   Category   Price    Rating         Stock  Discount
6         C   667.0  3.668341      In Stock      41.0
7         A  7125.0  4.983998  Out of Stock       7.0
8         A  2777.0  2.678384      In Stock       6.0
11        A  3772.0  4.890750      In Stock      45.0
15        A  7936.0  3.032832      In Stock      44.0

In [49]:
##-------------------------dropna() and isna().sum()-----------------------

import pandas as pd
df=pd.read_csv("/content/synthetic_dataset.csv")
df1=df.dropna()
df2=df1.isna().sum()
print("output is:")
print(df.head())
print()
print("after dropna()and isna().sum() :")
print(df2.head())

output is:
  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

after dropna()and isna().sum() :
Category    0
Price       0
Rating      0
Stock       0
Discount    0
dtype: int64

In [57]:
##---------------------dropna() -----------------------------------------------

import pandas as pd
df=pd.read_csv("/content/synthetic_dataset.csv")
df1=df.dropna()
print("output is:")
print(df.head())
print()
print("after using dropna()  :")
print(df1.head())

output is:
  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

after using dropna()  :
   Category   Price    Rating         Stock  Discount
6         C   667.0  3.668341      In Stock      41.0
7         A  7125.0  4.983998  Out of Stock       7.0
8         A  2777.0  2.678384      In Stock       6.0
11        A  3772.0  4.890750      In Stock      45.0
15        A  7936.0  3.032832      In Stock      44.0

In [64]:
###------------------fillna()  ---------------------------------------------------

import pandas as pd
df=pd.read_csv("/content/synthetic_dataset.csv")
df1=df.fillna(0)
print("output is:")
print(df.head())
print()
print("after using fillna(0)) :")
print(df1.head())

output is:
  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

after using fillna(0)) :
  Category   Price    Rating         Stock  Discount
0        0  5548.0  1.870322             0       0.0
1        0  3045.0  4.757798             0      38.0
2        0  4004.0  0.000000      In Stock       0.0
3        0  4808.0  1.492085             0      33.0
4        0  1817.0  0.000000  Out of Stock      23.0

In [32]:
##--------------creating dataframe,fillna()---------------------------------------------

import pandas as pd
import numpy as np
data=[['lal',34,50000],
      ['bal',23,60000],
      ['pal',45,30000],
      ['tagore',33,np.nan],
      [np.nan,43,60000]
     ]
df=pd.DataFrame(data,columns=['name','age','salary'])
print(df)
print()
df1=df.fillna(0)
print(df1)

     name  age   salary
0     lal   34  50000.0
1     bal   23  60000.0
2     pal   45  30000.0
3  tagore   33      NaN
4     NaN   43  60000.0

     name  age   salary
0     lal   34  50000.0
1     bal   23  60000.0
2     pal   45  30000.0
3  tagore   33      0.0
4       0   43  60000.0

In [29]:

import pandas as pd
import numpy as np
data=[['ramdas',34,657],
      ['kabirdas',np.nan,876],
      ['tulsidas',23,987],
      ['arundas',33,456],
      [ 'kalidas',np.nan,654]
]
df1=pd.DataFrame(data,columns=['name','age','poetry'])
print(df1)
print()
m=df1['age'].mean()
df1['age']=df1['age'].fillna(m)
print(df1)

       name   age  poetry
0    ramdas  34.0     657
1  kabirdas   NaN     876
2  tulsidas  23.0     987
3   arundas  33.0     456
4   kalidas   NaN     654

       name   age  poetry
0    ramdas  34.0     657
1  kabirdas  30.0     876
2  tulsidas  23.0     987
3   arundas  33.0     456
4   kalidas  30.0     654

In [1]:
import pandas as pd
import numpy as np
data=[['ramdas','34',657],
      ['kabirdas',np.nan,876],
      ['tulsidas','23',987],
      ['arundas','33',456],
      [ 'kalidas',np.nan,654]
      ]
df=pd.DataFrame(data,columns=['name','age','poetry'])
df1=df.replace(np.nan,0)
print(df)
print()
print(df1)

       name  age  poetry
0    ramdas   34     657
1  kabirdas  NaN     876
2  tulsidas   23     987
3   arundas   33     456
4   kalidas  NaN     654

       name age  poetry
0    ramdas  34     657
1  kabirdas   0     876
2  tulsidas  23     987
3   arundas  33     456
4   kalidas   0     654