<a href="https://colab.research.google.com/github/sandhya537/pandas/blob/main/pandas_sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded=files.upload()

Saving sales4.csv to sales4.csv

In [4]:
###---------read_csv file ------------------------------------------------

import pandas as pd
df=pd.read_csv("/content/sales4.csv")
print(df)
print(df.head())
print(df.tail())

        Order_Id Customer_Name  Customer_Id                Product_Name  \
0           1023         Venki           15            27in FHD Monitor
1           1024    Chaithanya           14                   iPhone 11
2           1025        Shahid           20  Bose SoundSport Headphones
3           1026         Veeru            3        Apple iPad 10.2-inch
4           1027          Venu           23                Google Phone
...          ...           ...          ...                         ...
299995    301018       Karteek            4        Apple iPad 10.2-inch
299996    301019         Veeru            3          Macbook Pro Laptop
299997    301020        Harsha            5          LG Washing Machine
299998    301021    Nireekshan            1                   LG Mobile
299999    301022       Pradhan           17      34in Ultrawide Monitor

        Product_Cost
0              59000
1              69000
2              65999
3              63999
4              63999
...              ...
299995         51999
299996         51999
299997         65000
299998         60000
299999         55000

[300000 rows x 5 columns]
   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost
0         59000
1         69000
2         65999
3         63999
4         63999
        Order_Id Customer_Name  Customer_Id            Product_Name  \
299995    301018       Karteek            4    Apple iPad 10.2-inch
299996    301019         Veeru            3      Macbook Pro Laptop
299997    301020        Harsha            5      LG Washing Machine
299998    301021    Nireekshan            1               LG Mobile
299999    301022       Pradhan           17  34in Ultrawide Monitor

        Product_Cost
299995         51999
299996         51999
299997         65000
299998         60000
299999         55000

In [5]:
##-------------------using sort_values()------------------------------------

import pandas as pd
df1=pd.read_csv("/content/sales4.csv")
df2=df1.sort_values(by='Product_Cost')
print(df2)

        Order_Id Customer_Name  Customer_Id                Product_Name  \
243862    244885         Vinay           10                   iPhone 7s
35          1058  Jaya Chandra           21                    iPhone 8
23          1046     Madhurima            7          Macbook Pro Laptop
18          1041         Venki           15          Samsung Galaxy S20
273876    274899         Venki           15  Bose SoundSport Headphones
...          ...           ...          ...                         ...
243820    244843         Venki           15          Samsung Galaxy S20
243821    244844        Siddhu           18                20in Monitor
243822    244845        Harsha            5                    iPhone 9
243826    244849        Balaji           12                   LG Mobile
299973    300996         Vinay           10      Samsung Galaxy S9 Plus

        Product_Cost
243862         50000
35             50000
23             50000
18             50000
273876         50000
...              ...
243820         75999
243821         75999
243822         75999
243826         75999
299973         75999

[300000 rows x 5 columns]

In [6]:
##-----------ex 1 ----------------------------------------------------------
import pandas as pd
df1=pd.read_csv("/content/sales4.csv")
df2=df1.sort_values(by='Customer_Id')
print(df2)

        Order_Id Customer_Name  Customer_Id            Product_Name  \
198181    199204    Nireekshan            1      Macbook Pro Laptop
48048      49071    Nireekshan            1      Macbook Pro Laptop
96108      97131    Nireekshan            1    Apple iPad 10.2-inch
299970    300993    Nireekshan            1                iPhone 8
299896    300919    Nireekshan            1    Apple iPad 10.2-inch
...          ...           ...          ...                     ...
247959    248982         Shafi           25            20in Monitor
247952    248975         Shafi           25  27in 4K Gaming Monitor
129930    130953         Shafi           25         ThinkPad Laptop
129925    130948         Shafi           25      Macbook Pro Laptop
17005      18028         Shafi           25            Google Phone

        Product_Cost
198181         75999
48048          60000
96108          75999
299970         60000
299896         65999
...              ...
247959         55000
247952         50000
129930         51999
129925         63000
17005          63000

[300000 rows x 5 columns]

In [7]:
##--------------------sort_values(),ascending=False ------------------------

import pandas as pd
df1=pd.read_csv("/content/sales4.csv")
df2=df1.sort_values(by='Customer_Id',ascending=False)
print(df2)

        Order_Id Customer_Name  Customer_Id            Product_Name  \
145501    146524         Shafi           25            Google Phone
145473    146496         Shafi           25         ThinkPad Laptop
145483    146506         Shafi           25           Flatscreen TV
145485    146508         Shafi           25               iPhone 11
145470    146493         Shafi           25        27in FHD Monitor
...          ...           ...          ...                     ...
239859    240882    Nireekshan            1      LG Washing Machine
239914    240937    Nireekshan            1                iPhone 9
299970    300993    Nireekshan            1                iPhone 8
70          1093    Nireekshan            1            20in Monitor
95          1118    Nireekshan            1  LG ThinQ Refrigerator

        Product_Cost
145501         65999
145473         63000
145483         55999
145485         51999
145470         60000
...              ...
239859         65999
239914         50000
299970         60000
70             65000
95             69000

[300000 rows x 5 columns]

In [8]:
##------------sort_values(),ascending=0 -----------------------------------------

import pandas as pd
df1=pd.read_csv("/content/sales4.csv")
df2=df1.sort_values(by='Customer_Id',ascending=0)
print(df2)

        Order_Id Customer_Name  Customer_Id            Product_Name  \
145501    146524         Shafi           25            Google Phone
145473    146496         Shafi           25         ThinkPad Laptop
145483    146506         Shafi           25           Flatscreen TV
145485    146508         Shafi           25               iPhone 11
145470    146493         Shafi           25        27in FHD Monitor
...          ...           ...          ...                     ...
239859    240882    Nireekshan            1      LG Washing Machine
239914    240937    Nireekshan            1                iPhone 9
299970    300993    Nireekshan            1                iPhone 8
70          1093    Nireekshan            1            20in Monitor
95          1118    Nireekshan            1  LG ThinQ Refrigerator

        Product_Cost
145501         65999
145473         63000
145483         55999
145485         51999
145470         60000
...              ...
239859         65999
239914         50000
299970         60000
70             65000
95             69000

[300000 rows x 5 columns]

In [9]:
##---------------ex=1------------------------------------

import pandas as pd
df1=pd.read_csv("/content/sales4.csv")
df2=df1.sort_values(by='Customer_Name')
print(df2)

        Order_Id Customer_Name  Customer_Id            Product_Name  \
136196    137219        Balaji           12               LG Mobile
128754    129777        Balaji           12      Samsung Galaxy S20
292113    293136        Balaji           12               LG Mobile
128753    129776        Balaji           12  LG ThinQ Refrigerator
73777      74800        Balaji           12    Apple iPad 10.2-inch
...          ...           ...          ...                     ...
280203    281226         Vinay           10                iPhone 8
155180    156203         Vinay           10  Samsung Galaxy S9 Plus
82486      83509         Vinay           10  LG ThinQ Refrigerator
26986      28009         Vinay           10               iPhone 11
186628    187651         Vinay           10  LG ThinQ Refrigerator

        Product_Cost
136196         60000
128754         61000
292113         65999
128753         65999
73777          51999
...              ...
280203         65999
155180         65000
82486          59000
26986          59000
186628         51999

[300000 rows x 5 columns]

In [10]:
##-------------------creating DataFrame-----------------------------------------
               ##--------sort_index------------------------------------

import pandas as pd
d={
    'oid':[11,22,33],
    'cust name':['kedar','varun','tanuja'],
    'product':['iphone 11','htc','macbook']
}
i=[555,444,333]
df1=pd.DataFrame(d,index=i)
df2=df1.sort_index()
print(df1)
print(df2)

     oid cust name    product
555   11     kedar  iphone 11
444   22     varun        htc
333   33    tanuja    macbook
     oid cust name    product
333   33    tanuja    macbook
444   22     varun        htc
555   11     kedar  iphone 11

In [13]:
##-------------------ex 1-----------------------------------------------------

import pandas as pd
d={
    'oid':[11,22,33],
    'cust name':['kedar','varun','tanuja'],
    'product':['iphone 11','htc','macbook']
}
i=[12,89,56]
df1=pd.DataFrame(d,index=i)
df2=df1.sort_index()
print(df1)
print(df2)

    oid cust name    product
12   11     kedar  iphone 11
89   22     varun        htc
56   33    tanuja    macbook
    oid cust name    product
12   11     kedar  iphone 11
56   33    tanuja    macbook
89   22     varun        htc