<a href="https://colab.research.google.com/github/sandhya537/pandas/blob/main/pandas_concat()_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
##------------creating dataframe------------------------------------------------

import pandas as pd
data1=[[11,22],[33,44]]
data2=[[55,66],[77,88]]
columns=['column1','column2']
df1=pd.DataFrame(data1,columns=columns)
df2=pd.DataFrame(data2,columns=columns)
print(df1)
print()
print(df2)

   column1  column2
0       11       22
1       33       44

   column1  column2
0       55       66
1       77       88

In [7]:
##--------------------- using concat()----------------------------------------------------

import pandas as pd
data1=[[11,22],[33,44]]
data2=[[55,66],[77,88]]
columns=['column1','column2']
df1=pd.DataFrame(data1,columns=columns)
df2=pd.DataFrame(data2,columns=columns)
print(df1)
print()
print(df2)
res=[df1,df2]
con=pd.concat(res)
print()
print('after using concat()')
print(con)

   column1  column2
0       11       22
1       33       44

   column1  column2
0       55       66
1       77       88

after using concat()
   column1  column2
0       11       22
1       33       44
0       55       66
1       77       88

In [28]:
##-------------------concat(),ignore_index=True------------------------------------

import pandas as pd
data1=[[11,22],[33,44]]
data2=[[55,66],[77,88]]
columns=['column1','column2']
df1=pd.DataFrame(data1,columns=columns)
df2=pd.DataFrame(data2,columns=columns)
print(df1)
print()
print(df2)
res=[df1,df2]
con=pd.concat(res,ignore_index=True)
print()
print('after using concat(),ignore_index=True')
print(con)

   column1  column2
0       11       22
1       33       44

   column1  column2
0       55       66
1       77       88

after using concat(),ignore_index=True
   column1  column2
0       11       22
1       33       44
2       55       66
3       77       88

In [30]:
##---------------------------concat()-----------------------------------------

import pandas as pd
data1=[[12,13,14],[15,16]]
data2=[[17,18],[19,20,21]]
c=['A','B','C']
df1=pd.DataFrame(data1,columns=c)
df2=pd.DataFrame(data2,columns=c)
print(df1)
print()
print(df2)
print()
print('after using concat()')
print()
con=pd.concat([df1,df2])
print(con)

    A   B     C
0  12  13  14.0
1  15  16   NaN

    A   B     C
0  17  18   NaN
1  19  20  21.0

after using concat()

    A   B     C
0  12  13  14.0
1  15  16   NaN
0  17  18   NaN
1  19  20  21.0

In [23]:
##----------------------concat(),ignore_index=True-----------------------------------

import pandas as pd
data1=[[12,13,14],[15,16]]
data2=[[17,18],[19,20,21]]
c=['A','B','C']
df1=pd.DataFrame(data1,columns=c)
df2=pd.DataFrame(data2,columns=c)
print(df1)
print()
print(df2)
print()
print('using concat(),ignore_index=True')
print()
con=pd.concat([df1,df2],ignore_index=True)
print(con)

    A   B     C
0  12  13  14.0
1  15  16   NaN

    A   B     C
0  17  18   NaN
1  19  20  21.0

using concat(),ignore_index=True

    A   B     C
0  12  13  14.0
1  15  16   NaN
2  17  18   NaN
3  19  20  21.0

In [22]:
##--------------------------concat(),ignore_index=False----------------------------

import pandas as pd
data1=[[12,13,14],[15,16]]
data2=[[17,18],[19,20,21]]
c=['A','B','C']
df1=pd.DataFrame(data1,columns=c)
df2=pd.DataFrame(data2,columns=c)
print(df1)
print()
print(df2)
print()
print('using concat(),ignore_index=False')
print()
con=pd.concat([df1,df2],ignore_index=False)
print(con)

    A   B     C
0  12  13  14.0
1  15  16   NaN

    A   B     C
0  17  18   NaN
1  19  20  21.0

using concat(),ignore_index=False

    A   B     C
0  12  13  14.0
1  15  16   NaN
0  17  18   NaN
1  19  20  21.0

In [20]:
##--------------------concat(),axis=1-----------------------------------------------

import pandas as pd
data1=[[10,20],[40,50,65]]
data2=[[60,70,80],[90,100]]
columns=['column1','column2','column3']
df1=pd.DataFrame(data1,columns=columns)
df2=pd.DataFrame(data2,columns=columns)
print(df1)
print()
print(df2)
print()
print('using concat(),axis=1 ')
print()
con=pd.concat([df1,df2],axis=1)
print(con)

   column1  column2  column3
0       10       20      NaN
1       40       50     65.0

   column1  column2  column3
0       60       70     80.0
1       90      100      NaN
using concat(),axis

   column1  column2  column3  column1  column2  column3
0       10       20      NaN       60       70     80.0
1       40       50     65.0       90      100      NaN

In [27]:
##---------------------concat(),axis=1------------------------------------

import pandas as pd
data1=[[10,20],[40,50,65]]
data2=[[60,70,80],[90,100]]
columns=['column1','column2','column3']
df1=pd.DataFrame(data1,columns=columns)
df2=pd.DataFrame(data2,columns=columns)
print(df1)
print()
print(df2)
print()
print('using concat(),axis=1')
print()
con=pd.concat([df1,df2],axis=1)
con.columns=[f'column{i+1}' for i in range(con.shape[1])]
print(con)

   column1  column2  column3
0       10       20      NaN
1       40       50     65.0

   column1  column2  column3
0       60       70     80.0
1       90      100      NaN

using concat(),axis=1

   column1  column2  column3  column4  column5  column6
0       10       20      NaN       60       70     80.0
1       40       50     65.0       90      100      NaN

In [21]:
##----------------------------concat(),axis=0------------------------------

import pandas as pd
data1=[[10,20],[40,50,65]]
data2=[[60,70,80],[90,100]]
columns=['column1','column2','column3']
df1=pd.DataFrame(data1,columns=columns)
df2=pd.DataFrame(data2,columns=columns)
print(df1)
print()
print(df2)
print()
print('using concat(),axis=0 ')
print()
con=pd.concat([df1,df2],axis=0)
print(con)

   column1  column2  column3
0       10       20      NaN
1       40       50     65.0

   column1  column2  column3
0       60       70     80.0
1       90      100      NaN

using concat(),axis=0

   column1  column2  column3
0       10       20      NaN
1       40       50     65.0
0       60       70     80.0
1       90      100      NaN